* {
    /*CSS Syntax*/
    /*CSS Property: Value*/
    font-family: "Roboto", sans-serif;

}


h1, h2 {
    font-family: "Montserrat", sans-serif;
}

#landing {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-color: transparent;
}

#gallery {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    color: #007bff;
}

.tools {
    padding: 25px;
    height: 200px;
    margin: 20px;
    width: 75%;
    border: 5px solid #f2f2f2;
    color: white;

}

html {
    scroll-behavior: smooth;
}

body{
    color: rgba(255,255,255,.75);
    background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 5%;  
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(244, 205, 10, 0.75);}
  to{border-right-color: transparent;}
}
